.Heads {
    width: 100%;
    height: 700px;
    position: fixed;
    background-size: cover;
    color: #fff;
}

.Heads .Overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.Content {
    width: 100%;
    position: absolute;
    top: 400px;
}

.Content .ContentBox {
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.Content .ContentBox h1 {
    font-size: 60px;
    margin: 0;
}

.Content .ContentBox p {
    margin: 0;
    font-size: 28px;
    color: #fff;
}